<% title "#{peerage.capitalize} Candidate Specialties"%>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Private Chambers', '/chambers' %></li>
    <li class="breadcrumb-item active" aria-current="page">Specialties</li>
  </ol>
</nav>
<h1><%=peerage.capitalize%> Candidate Specialties</h1>
<ul>
<% @specialties.each do |spec| %>
  <% count = spec.candidates.count %>
  <% if count > 0 %>
  <li><%=link_to spec.name.capitalize, chambers_specialty_path(peerage, spec.slug)%> (<%=count%>)</li>
  <% end %>
<%end %>
</ul>
