<% title "Laurel Roll of Honor" %>
<h1 class="text-center">Roll of Honor</h1>
<h3 class="text-center"><%=@order_title%><br><small>Active in the Kingdom</small></h3>
<div class="d-flex flex-wrap justify-content-center">
<% @active_peers.each do |p| %>
	<div class="plate <%if p.vigilant?%>vigilant<%end%>">
      <% name = p.sca_name %>
      <% if p.specialties? %>
        <% name = "#{p.sca_name} (#{p.specialties_sentence})" %>
      <% end %>
      <%= link_to(name, peer_path(peerage,p.slug)) %>
  </div>
<%end %>
</div>

<h3 class="text-center"><%=@order_title%><br><small>Inactive in the Kingdom</small></h3>
<div class="d-flex flex-wrap justify-content-center">
<% @inactive_peers.each do |p| %>
	<div class="plate <%if p.deceased %>deceased<%end%>">
      <% name = p.sca_name %>
      <% if p.specialties? %>
        <% name = "#{p.sca_name} (#{p.specialties_sentence})" %>
      <% end %>
      <%= link_to(name, peer_path(peerage,p.slug)) %>
  </div>

<% end %>
</div>
