<% arms_preview = image_tag user.arms.url(:large)  %>
<% arms_hidden = '' %>
<% profile_hidden = 'd-none' %>
<% profile_preview = '' %>
<% unless peerage.nil? %>
  <% arms_hidden = 'd-none' %>
  <% profile_hidden = '' %>
  <% profile_preview = image_tag user.peer(peerage).profile_pic.url(:large) %>
<% end %>
<div class="d-none d-md-block col-md">
  <div class="d-flex flex-column">
    <div class="image-preview-container <%=arms_hidden%>" id="arms_preview_container">
      <div id="arms_preview">
          <%= arms_preview %>
      </div>
    </div>
    <div class="image-preview-container <%=profile_hidden%>" id="profile_pic_preview_container">
      <div id="profile_preview">
         <%= profile_preview %> 
      </div>
      <div class="ml-5">
        <button class="btn btn-default d-none " id="crop">Finish</button>
      </div> 
    </div>
  </div>
</div>
