<h3>Royal Options</h3>
<% Peer.orders.each do |peerage| %>
  
<%= link_to "View #{peerage.capitalize} Candidates", chambers_candidates_path(peerage) %><br>
<%= link_to "Browse #{peerage.capitalize} Candidates By Group", chambers_groups_path(peerage) %><br/>
<%end%>

