<% title "Private Chambers"%>
<h1>Private Chambers</h1>
<% if can? :read, PollResult %>
<%= render 'royalty' %>
<% end %>
<% current_user.peers.each do |peer| 
%>
  <div class='col-md-3'>
    <h3><%= peer.peerage_name %></h3>
    <%= render 'normal', peerage: peer.order %>
    <% if can? :manage, peer.order %>
      <%= render 'admin', peerage: peer.order %>
    <% end %>
  </div>
<% end 
%>
