<% node.children.each do |child|  %>
    <% peer_total = child.all_peers(@peerage).count %>
    <% if peer_total > 0 %>
    <li><%= link_to child, controller.send("#{@peerage}_group_path",[child.slug]) %> (<%=peer_total%>)
    <% if child.children.any? %>
      <ul><%= render '/peerage/groups/draw_tree', node: child  %></ul>
    <% end  %>
   </li>
    <% end %>
<% end %>
