<div style="text-align:center;">
  <h1>Order of the Laurel</h1>
  <div class="well">
"I here swear fealty and service<br>
To the Crown of the Middle Kingdom.<br>
To ever enrich the Crown.<br>
With my talents and abilities.<br>
To promote the diverse arts,<br>
To continue the instruction of my dependents,<br>
To increase the glory of the Middle Kingdom,<br>
And to be worthy of the Wreath I wear...<br>
thus swear I, <<Name>>."
  </div>
</div>
