<div style="text-align:center;">
  <h1>Middle Kingdom Peerage Orders</h1>
    <div class="d-flex justify-content-center">
      <div>
        <%= image_tag(Laurel.image) %>
        <h3><%= link_to 'The Order of the Laurel', order_path('laurel')%></h3>
      </div>
  </div>
</div>
