<h1><%=peerage.capitalize%> Specialties</h1>
<ul>
<% @specialties.each do |spec| %>
  <% count = spec.peers.count%>
  <% if count > 0 %>
  <li><%=link_to spec.name.capitalize, specialty_path(peerage, spec.slug)%> (<%=count%>)</li>
  <% end %>
<%end %>
</ul>
