<% title "Edit Candidate #{@candidate.sca_name}"%>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Chambers', '/chambers' %></li>
    <li class="breadcrumb-item"><%= link_to "Manage #{peerage.capitalize} Candidates", chambers_admin_candidates_path(peerage) %></li>
    <li class="breadcrumb-item active" aria-current="page">Edit</li>
  </ol>
</nav>
<h1>Edit Candidate <%=@candidate.sca_name%></h1>
<%= render 'form', url: chambers_admin_candidate_path(peerage, @candidate.id)%>
