<h1>Edit Royalty Status of <%=@royal.sca_name%></h1>
  <div class="col-md-4">
    <%= bootstrap_form_for @royal, as: :royal, url: chambers_admin_royalty_path(@royal) do |f| %>
      <%= f.check_box :royalty %>
      <%= f.submit 'Update Royal' %>
    <%end %>
  </div>
