.peer-profile-parent{
  position: relative;
  bottom: 0;
  right: 0; 
  height: 400px;
  width: 300px;
  .profile-pic{
    position: relative;
    bottom: 0;
    right: 0; 
  }
  .arms{
    position: absolute;
    bottom: 0px;
    right: 0px;  
  }    
}      
.laurel-plate{
  padding: 0.5rem;
  margin: 0.5rem;
  text-align: center;
  width: 300px;
  height: 75px;
  border: 1px solid darkgoldenrod;
  background: palegoldenrod;
  a, a:hover {
    color: darkgreen;
  }
}
.chivalry-plate{
  padding: 0.5rem;
  margin: 0.5rem;
  text-align: center;
  width: 300px;
  height: 75px;
  border: 1px solid #a0a0a0;
  background: #3c3c3c;
  a, a:hover {
    color: white;
  }
}
.defense-plate{
  padding: 0.5rem;
  margin: 0.5rem;
  text-align: center;
  width: 300px;
  height: 75px;
  border: 3px solid #611410;
  background: #9c1b1b;
  a, a:hover {
    color: ghostwhite;
  }
}
.pelican-plate{
  padding: 0.5rem;
  margin: 0.5rem;
  text-align: center;
  width: 300px;
  height: 65px;
  border: 1px solid #391903;
  background: #dda747e0;
  a, a:hover {
    color: darkred;
  }
}

.home-col{
  min-width:250px
}
.laurel-border-left{
	border-left: 5px solid darkgreen;
}
.pelican-border-left{
	border-left: 5px solid darkgoldenrod;
}
.defense-border-left{
  border-left: 5px solid #9c1b1b;
}
.chivalry-border-left{
  border-left: 5px solid black;
}
.laurel-card{
	border: 3px solid darkgreen !important;
  a, a:hover {
    color: darkgreen;
  }
}
.pelican-card{
	border: 3px solid darkgoldenrod !important;
  a, a:hover {
    color: darkred;
  }
}
.defense-card{
	border: 3px solid darkred !important;
  a, a:hover {
    color: darkred;
  }
}

.chivalry-card{
	border: 3px solid black !important;
  a, a:hover {
    color: black;
  }
}
.deceased{
  background: #dedede; 
}
.vigilant{
  font-weight: bold; 
}
.my-link{
  cursor: pointer;
}

span.my-link:hover {
  text-decoration: underline;
}
.modal-full {
    max-width: 80vw !important;
}


.vote-tr{
  background: cornsilk;
  font-weight: 600;
  a, a:hover {
    color: #009e00;
  }
}

.vote-show-box{
    border: 3px goldenrod solid;
    padding: 10px;
}

.watch-show-status{
  color: dimgray;
  font-weight: 700;
}

.watch-show-box{
    border: 3px silver solid;
    padding: 10px;
}

.vote-show-status{
  color: darkgoldenrod;
  font-weight: 700;
}

.comment{
  img {
    max-width: 100%
  }
}
