// Color constants - WCAG AA Compliant
$laurel-color: darkgreen;
$laurel-background: palegoldenrod;

$chivalry-color: white;
$chivalry-background: #3c3c3c;

$defense-color: ghostwhite;
$defense-background: #9c1b1b;

$pelican-background: #dda747;
$pelican-color: darkred;

$mark-color: white;
$mark-background: #315c82;

// Custom Styles
.peer-image {
  max-height: 200px;
  max-width: 100%;
  height: auto;
}
.peer-profile-parent{
  position: relative;
  bottom: 0;
  right: 0; 
  height: 400px;
  width: 300px;
  .profile-pic{
    position: relative;
    bottom: 0;
    right: 0; 
  }
  .arms{
    position: absolute;
    bottom: 0px;
    right: 0px;  
  }
}

.peer-plate{
  padding: 0.5rem;
  margin: 0.5rem;
  text-align: center;
  width: 300px;
  height: 75px;
}
.laurel-plate{
  border: 1px solid darkgoldenrod;
  background: $laurel-background;
  a, a:hover {
    color: $laurel-color;
  }
}
.chivalry-plate{
  border: 1px solid #a0a0a0;
  background: $chivalry-background;
  a, a:hover {
    color: $chivalry-color;
  }
}
.defense-plate{
  border: 3px solid #611410;
  background: $defense-background;
  a, a:hover {
    color: $defense-color;
  }
}
.pelican-plate{
  border: 1px solid #391903;
  background: $pelican-background;
  a, a:hover {
    color: $pelican-color;
  }
}
.mark-plate{
  border: 1px solid #391903;
  background: $mark-background;
  a, a:hover {
    color: $mark-color;
  }
}

.home-col{
  min-width:250px
}
.laurel-border-left{
	border-left: 5px solid $laurel-color;
}
.pelican-border-left{
	border-left: 5px solid $pelican-background;
}
.defense-border-left{
  border-left: 5px solid $defense-background;
}
.chivalry-border-left{
  border-left: 5px solid $chivalry-background;
}
.mark-border-left{
  border-left: 5px solid $mark-background;
}

.laurel-card{
	border: 3px solid $laurel-color !important;
  a, a:hover {
    color: $laurel-color;
  }
}
.pelican-card{
	border: 3px solid $pelican-background !important;
  a, a:hover {
    color: $pelican-color;
  }
}
.defense-card{
	border: 3px solid $defense-background !important;
  a, a:hover {
    color: $defense-background;
  }
}
.chivalry-card{
	border: 3px solid $chivalry-background !important;
  a, a:hover {
    color: $chivalry-background;
  }
}
.mark-card{
  border: 3px solid $mark-background !important;
  a, a:hover {
    color: $mark-background;
  }
}

.deceased{
  background: #dedede; 
  a, a:hover {
    color: black;
  }
}
.vigilant{
  font-weight: bold; 
}
.my-link{
  cursor: pointer;
}

span.my-link:hover {
  text-decoration: underline;
}
.modal-full {
    max-width: 80vw !important;
}


.vote-tr{
  background: cornsilk;
  font-weight: 600;
  a, a:hover {
    color: darkgreen;
  }
}

.vote-show-box{
    border: 3px goldenrod solid;
    padding: 10px;
}

.watch-show-status{
  color: dimgray;
  font-weight: 700;
}

.watch-show-box{
    border: 3px silver solid;
    padding: 10px;
}

.vote-show-status{
  color: darkgoldenrod;
  font-weight: 700;
}

.comment{
  img {
    max-width: 100%
  }
}
//body {
  //background-color: blue;
//}
