<% title "#{peerage.capitalize} Candidates"%>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Private Chambers', '/chambers' %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= peerage.capitalize %> Candidates</li>
  </ol>
</nav>
<div class="d-md-flex flex-row">
  <div class= "p-2"> <h1>Candidates</h1> </div>
</div>
<%= render 'chambers/peerage/candidates/table', candidates: @candidates%>
</div>


