<h1>Roll of Honor</h1>
<h3>Masters and Mistresses of the Laurel<br><small>Active in the Kingdom</small></h3>
<ul>
<% @active_laurels.each do |l| %>
 
  <% name = l.sca_name %>
  <% if l.specialties.count > 0 %>
    <% name = "#{l.sca_name} (#{l.show_specialties})" %>
  <% end %>
  <% if l.vigilant? %> 
  <li><b><%= link_to(name, l.url) %></b></li>
  <% else %>
  
  <li><%= link_to(name, l.url) %></li>
  <% end %>
<%end %>
</ul>

<h3>Masters and Mistresses of the Laurel<br><small>Inactive in the Kingdom</small></h3>
<ul>
<% @inactive_laurels.each do |l| %>
  <% name = l.sca_name %>
  <% if l.specialties.count > 0 %>
    <% name = "#{l.sca_name} (#{l.show_specialties})" %>
  <% end %>
  <% if l.deceased? %> 
  <li><strike><%= link_to(name, l.url) %></strike></li>
  <% else %>
  <li><%= link_to(name, l.url) %></li>
  <% end %>
<% end %>
</ul>
