@import "bootstrap";
//@import "select2";
//@import "select2-bootstrap";
//@import "formtastic-bootstrap";
//@import "simplemde";
//@import "croppie";
//@import "bootstrap-datepicker3";
//@import "dataTables.bootstrap.min";

.new_user{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.flex{
  display: 'flex';
}
