@import "bootstrap";
@import "dataTables.bootstrap4.min.css";
//@import "select2.css";
//@import "select2-bootstrap";
//@import "formtastic-bootstrap";
@import "simplemde.css";
@import "croppie.css";
@import "bootstrap-datepicker.css";

.new_user{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.flex{
  display: 'flex';
}
