.new_user{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.flex{
  display: 'flex';
}

.peer-profile-parent{
  position: relative;
  bottom: 0;
  right: 0; 
  .profile-pic{
    position: relative;
    bottom: 0;
    right: 0; 
  }
  .arms{
    position: absolute;
    bottom: 0px;
    right: 0px;  
  }    
}      
