<% node.children.each do |child|  %>
    <% laurel_total = child.all_laurels.count %>
    <% if laurel_total > 0 %>
    <li><%= link_to child.titled_name, laurel_group_path(child.slug) %> (<%=laurel_total%>)
    <% if child.children.any? %>
      <ul><%= render 'draw_tree', node: child  %></ul>
    <% end  %>
   </li>
    <% end %>
<% end %>
