<h1>Laurels by Location</h1>
<ul>
<% @kingdoms.each do |kingdom| %>
  <% laurel_total = kingdom.all_laurels.count %>
  <% if laurel_total > 0 %>
  <li>
    <%= link_to kingdom.titled_name, laurel_group_path(kingdom.slug) %> (<%=laurel_total%>)
    <ul><%= render 'draw_tree', node: kingdom %></ul>
  </li>
  <% end %>
<% end %>
</ul>
